main {
	position: relative;
	width: 100%;
	height: 100dvh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: clamp(0.625rem, 10vw, 12.5rem);
	background: var(--grey-100);
	padding-inline: 10vw;

	#background-shape {
		z-index: 0;
		position: absolute;
		right: 0;
		bottom: 0;
		height: 100vh;
	}
}

#boy {
	z-index: 1;
	width: clamp(6.25rem, 20vw, 25rem);
	min-width: 12.5rem;
}

#container {
	z-index: 2;
	width: clamp(10rem, 60vw, calc(100% - 20vw));
	max-height: 100%;

	h1 {
		font-size: var(--h1-size);
		font-weight: 700;

		img {
			margin-left: 0.3125rem;
			width: clamp(20px, 4vw, 50px);
		}
	}

	p {
		font-size: var(--p-size);
		font-weight: 300;
	}

	#description {
		margin-bottom: 14px;
	}

	#box {
		padding: 2rem;
		border-radius: var(--box-br);
		background: var(--white);
		margin-bottom: 1.25rem;
		min-height: 50vh;
		width: 100%;

		#input-fields {
			display: flex;
			gap: 1.25rem;
			flex-wrap: wrap;
			width: fit-content;

			.input-field {
				display: flex;
				flex-direction: column;

				label {
					color: var(--grey-500);
					font-weight: 600;
					font-size: 0.625rem;
					letter-spacing: 0.125rem;
					text-transform: uppercase;
					transition: var(--transition);
				}

				input {
					max-width: 6.25rem;
					padding: 0.625rem;
					border-radius: var(--border-radius);
					border: 1px solid var(--grey-200);
					font-size: 1rem;
					font-weight: 800;
					margin-block: 0.3125rem;
					transition: var(--transition);

					&.error {
						border: 1px solid var(--red-400);
						animation: bounce 0.2s ease-in-out 0s 2;
					}

					&::placeholder {
						color: var(--grey-500);
					}
				}

				.error:not(input) {
					color: var(--red-400);
				}

				.alert {
					font-style: italic;
					font-size: 0.625rem;
				}
			}
		}

		#middle-line {
			display: flex;
			width: 100%;
			position: relative;
			justify-content: end;

			#line {
				z-index: 0;
				bottom: 50%;
				position: absolute;
				height: 1px;
				width: 100%;
				background-color: var(--grey-200);
			}

			#submit-button {
				z-index: 1;
				width: 3.125rem;
				height: 3.125rem;
				background: var(--red-600);
				border: none;
				padding: 0.625rem;
				border-radius: 50%;
				cursor: pointer;
				transition: var(--transition);
				display: flex;
				align-items: center;
				justify-content: center;

				&:is(:hover, :focus) {
					background: var(--black);
				}

				img {
					width: 1.25rem;
					height: 1.25rem;
				}
			}
		}

		#results {
			p {
				font-size: var(--h1-size);
				font-weight: 800;
				font-style: italic;

				span {
					color: var(--red-600);
				}
			}
		}
	}
}

#break-row {
	display: none;
}

#attribution {
	display: flex;
	align-items: center;
	gap: 0.625rem;

	p {
		font-size: var(--middle-text);
		font-weight: 300;

		a{
			transition: var(--transition);
		}

		a:is(:hover, :focus){
			color: var(--red-600);
		}
	}
}

@media (width <= 50.625rem) {
	#boy {
		display: none;
	}
}

@media (width <= 42.5rem) {
	main {
		#background-shape {
			height: 50vh;
		}
	}

	#container {
		width: 100vw;
	}
}

@media (width <= 26.5625rem) {
	#break-row {
		display: inline;
	}
}
